.ajaxOver { font-size:11px; font-family:Arial; color:#ffffff; background-color:#0b2aa0; cursor:pointer; cursor:hand; }
.ajaxOver td { font-size:11px; font-family:Arial; color:#ffffff; background-color:#0b2aa0; cursor:pointer; cursor:hand; }
.ajaxOut { font-size:11px; font-family:Arial; color:#0b2aa0; background-color:#ffffff; cursor:pointer; cursor:hand; }
.ajaxOut td { font-size:11px; font-family:Arial; color:#0b2aa0; background-color:#ffffff; cursor:pointer; cursor:hand; }
